# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
*.tsbuildinfo

# Environment variables
.env
.env.production
.env.development
.env.staging
.env*.local

# Vercel project settings
.vercel

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Other projects
trucking-system/
.vercel
